node_modules
/backend/app/node_modules
/frontend/node_modules
/backend/db
backend/app/api/.gitkeep
backend/app/.editorconfig
backend/app/.env.example
backend/app/.eslintignore
backend/app/.eslintrc
backend/app/.gitignore
backend/app/favicon.ico
backend/app/package.json
backend/app/README.md
backend/app/config/database.js
backend/app/config/server.js
backend/app/config/functions/bootstrap.js
backend/app/config/functions/cron.js
backend/app/config/functions/responses/404.js
backend/app/extensions/.gitkeep
backend/app/public/robots.txt
backend/app/public/uploads/.gitkeep
backend/app/public/uploads/.gitkeep
backend/app/extensions/users-permissions/config/jwt.js
backend/app/public
backend/app/yarn.lock
